In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv('simulated_us_accidents.csv')
df

,Accident_ID,City,Condition,Severity,Day_of_Week,Hour,Injuries,Fatalities
0,1,Houston,Rain,1,Monday,11,3,0
1,2,Phoenix,Thunderstorm,3,Sunday,23,1,0
2,3,Chicago,Fog,1,Friday,22,0,0
3,4,Phoenix,Fog,1,Friday,8,1,0
4,5,Phoenix,Thunderstorm,2,Tuesday,2,1,0
...,...,...,...,...,...,...,...,...
4995,4996,Houston,Rain,2,Wednesday,3,0,0
4996,4997,Houston,Snow,3,Thursday,14,2,0
4997,4998,Phoenix,Rain,4,Saturday,20,3,0
4998,4999,Houston,Fog,3,Friday,15,2,0
4999,5000,Phoenix,Snow,1,Friday,14,4,0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Accident_ID  5000 non-null   int64
 1   City         5000 non-null   object
 2   Condition    5000 non-null   object
 3   Severity     5000 non-null   int64
 4   Day_of_Week  5000 non-null   object
 5   Hour         5000 non-null   int64
 6   Injuries     5000 non-null   int64
 7   Fatalities   5000 non-null   int64
dtypes: int64(5), object(3)
memory usage: 312.6+ KB

In [3]:
df.describe()

       Accident_ID     Severity        Hour     Injuries   Fatalities
count  5000.000000  5000.000000  5000.00000  5000.000000  5000.000000
mean   2500.500000     1.993000    11.44880     2.025800     0.052600
std    1443.520003     0.992748     6.87884     1.432601     0.223256
min       1.000000     1.000000     0.00000     0.000000     0.000000
25%    1250.750000     1.000000     5.00000     1.000000     0.000000
50%    2500.500000     2.000000    12.00000     2.000000     0.000000
75%    3750.250000     3.000000    17.00000     3.000000     0.000000
max    5000.000000     4.000000    23.00000    10.000000     1.000000

In [4]:
df.shape

(5000, 8)

In [5]:
df.columns

Index(['Accident_ID', 'City', 'Condition', 'Severity', 'Day_of_Week', 'Hour',
       'Injuries', 'Fatalities'],
      dtype='object')

In [11]:
# Identificar valores nulos
df.isnull()

,Accident_ID,City,Condition,Severity,Day_of_Week,Hour,Injuries,Fatalities
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False,False
4997,False,False,False,False,False,False,False,False
4998,False,False,False,False,False,False,False,False
4999,False,False,False,False,False,False,False,False

In [12]:
df.isnull().sum()

Accident_ID    0
City           0
Condition      0
Severity       0
Day_of_Week    0
Hour           0
Injuries       0
Fatalities     0
dtype: int64

In [13]:
# Identificamos que no hay valores nulos en el df

df

,Accident_ID,City,Condition,Severity,Day_of_Week,Hour,Injuries,Fatalities
0,1,Houston,Rain,1,Monday,11,3,0
1,2,Phoenix,Thunderstorm,3,Sunday,23,1,0
2,3,Chicago,Fog,1,Friday,22,0,0
3,4,Phoenix,Fog,1,Friday,8,1,0
4,5,Phoenix,Thunderstorm,2,Tuesday,2,1,0
...,...,...,...,...,...,...,...,...
4995,4996,Houston,Rain,2,Wednesday,3,0,0
4996,4997,Houston,Snow,3,Thursday,14,2,0
4997,4998,Phoenix,Rain,4,Saturday,20,3,0
4998,4999,Houston,Fog,3,Friday,15,2,0
4999,5000,Phoenix,Snow,1,Friday,14,4,0